@import "tailwindcss";
@plugin "tailwind-corner-smoothing";

@font-face {
  font-family: "NeueMontreal";
  src: url("/neuemontrealvariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NeueMontreal", sans-serif;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  20% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fade-animation {
  animation: 1s fadeInUp;
}

@keyframes popOut {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }

  30% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-animation {
  animation: 0.5s popOut;
}
