@import "tailwindcss";
@plugin "tailwind-corner-smoothing";

@font-face {
  font-family: "NeueMontreal";
  src: url("/neuemontrealvariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NeueMontreal", sans-serif;
}
